body {
  margin: 0;
  padding: 0;

}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

.board {
  position: relative;
  display: block;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.cell {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  width: 2vw;
  height: 1.8vw;
  overflow: hidden;
  border: 1px solid #CCC;
  background: #EEE;
}

.alive {
  background: #696;
}
